<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<filter>
  <filter-name>OidcSecurityFilter</filter-name>
  <filter-class>oidc.common.OidcSecurityFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>OidcSecurityFilter</filter-name>
  <url-pattern>/test/*</url-pattern>
</filter-mapping>

  <servlet>
    <servlet-name>LoginUrlServlet</servlet-name>
    <servlet-class>oidc.common.OidcLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CallbackUrlServlet</servlet-name>
    <servlet-class>oidc.common.OidcCallbackServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>oidc.common.OidcTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUrlServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallbackUrlServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>